/* Aqui colocare mi estilo de hoja CSS3*/
h1 {
    color: coral;
    border-bottom: 0ex;
  
}
h2 {
  color: blue ;
}

#cont1 {
  text-align: center;
  color: cornflowerblue;
}

label {
  padding: 5px;
  margin: 10px;
  border-color: solid;
}

#contenido1 {
  padding: 5px;
  margin: 10px;
  border-color: solid;
  border-style: dotted;
}

.contenido2 {
  padding: 10px;
  text-align: center;
  border-style: groove;
  border-radius: 5px;
}